<% if logged_in? %>

  <h1>タスク一覧</h1>
  <p>ユーザ: <%= current_user.name %></p>
  
 
    <div class="col-sm-8">
      <%= render 'tasks/tasks', tasks: @tasks %>
    </div>
 
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>TaskList</h1>
      <%= link_to '新規登録', new_user_path, class: 'btn btn-lg btn-primary' %>
      <%= link_to 'ログイン', login_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>









